{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-md-12">
            <h3 class="display-4 my-3">{{ post.title }}</h3>
            <h5 class="text-muted">Published on {{ post.created_date }}</h5>
              <img src="/media/{{ post.image }}" class="w-100 my-3">
              <p class="card-text">{{ post.text|safe }}</p>
          </div>

      </div>
    </div>
  </div>
{% endblock %}